
/* ### SASS VARIABLES ### */
$devdux-purple: #5941ff;
$devdux-background: #f5f5f6;
$devdux-light-purple: #ac63ff;
$devdux-dark-purple:#0011ca;
$devdux-green: #def4c6;

.App {
  text-align: center;
}

// .App-logo {
//   height: 10vmin;
//   pointer-events: none;
// }

.App-header {
  /* background-color: #7745bf; */
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

#content {
  background-color: #e1e2e1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* ### OVERALL STYLES ### */
body {
  background-color: $devdux-background;
  font-family: 'Roboto', sans-serif;

}

#content {
  background-color: $devdux-background;
  padding: 0;
  margin: auto;
  max-width: 60vw;
  
  position: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-jc-center {
  justify-content: center;
}

// .btn-sapling {
//   color: black;
//   background-color: #92cc00;
// }

// .btn-sapling:hover {
//   background-color: $devdux-light-purple;
// }

main.container {
  max-width: 900px;
}

/* ### NAVBAR ### */

nav#navbar {
  background-color: $devdux-light-purple;
  box-shadow: rgba(146, 146, 151, 0.2) 0px 7px 29px 0px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:left;
}

.navbar-brand {
  padding: 0;
  img {
    height: 40px;
  }
  color: black;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: black;
}

.navbar-vscode {
  // background-color: #92cc00;
  box-shadow: 0;
  border-radius: 8px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  border: none;
  min-height: 30px;
  font-size: 16px;
}
button {
  color: black;
 }

/* ### JUMBOTRON ### */
.big-logo {
  margin-top: 25px;
  min-height: 150px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Bree Serif', serif;
  margin-top: -5px;
  font-size: 66px;
  color: #421c8e;

  p {
    font-style: italic;
  }

}

.text-center {
  font-family: 'Bree Serif', serif;
  // margin-bottom: -10px;
}

.tagline {
  font-style: italic;
  font-style: strong;
  font-family: 'Bree Serif', serif;
}

.description {
  text-align: justify;
}

.jumbotron {
  img {
    height: calc(1.475rem + 3.0vw);
  }

  .lead {
    color: rgb(96, 96, 96);
  }

  .btn {
    div {
      box-sizing: border-box;
      height: 1.4rem;
      img {
        height: 100%
      }
    }
    span {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.devdux-on-vscode {
  // background-color: #92cc00;
  border: none;
  border-radius: 8px;
  text-align: center;
}

/* ## CAROUSEL ## */

.carousel-caption {
  color: #CECECE;
  font-weight: 600;
  background: rgb(0, 0, 0, 0.6);
  border-radius: 20px;
}

/* ## Links ## */

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // justify-items: right;
}

.link {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 16pt;
  }
  img {
    height: 3em;
  }
}

/* ## Contributors ## */

.contributors {
  margin-bottom: 60px;

  .row {
    display: flex;
    justify-content: space-around;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    background: #764abc;
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px;
  }

  @media screen and (max-width: 576px) {
    .card {
      margin-bottom: 10px;
      min-width: 305px;
      display: flex;
      flex-direction: row;

      .card-img-top {
        width: 100px;
        flex-shrink: 0;
      }

      .card-body {
        justify-content: center;
        flex-grow: 1;
      }

    }

  }
}

/* ### FOOTER ### */

footer {
  margin-bottom: 0;
  // margin-top: 10px;
  padding-bottom: 5;
  display: flex;
  flex-direction: column;

  background-color: $devdux-light-purple;
  box-shadow: rgba(146, 146, 151, 0.2) 0px -7px 29px 0px;
  color: rgb(96, 96, 96);

  div {
    a {
      img {
        height: 2.5em;
      }
    }
    // height: 100px;
  }
}
